---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import img1 from '../images/image-daniel.jpg';
import img2 from '../images/image-jonathan.jpg';
import img3 from '../images/image-jeanette.jpg';
import img4 from '../images/image-patrick.jpg';
import img5 from '../images/image-kira.jpg';
import imgfont from "../images/bg-pattern-quotation.svg";

---

<Layout title='FMentor'>
	<main class="max-w-sm lg:max-w-7xl lg:grid-cols-4 lg:grid-rows-2  mx-auto pt-8 grid py-8  gap-6 ">

		<!-- Card 1 -->
		<div class="lg:row-start-1 lg:col-start-1 lg:col-span-2 flex">
			<Card
			photo={img1.src} 
			name='Daniel Clifford'
			verified='Verified Graduate'
			imagefont={imgfont.src}
			title="I received a job offer mid-course, and the subjects I learned were current, if not more so, in the company I joined. I honestly feel got every penny's worth"
			text='"I was an EMT for many years before I joined the bootcamp.I have been looking to make a transition and have heard some people who had an amazing experience here. I signed up for the free intro course and found it incredibly fun! I enrolled shortly thereafter. The next 12 weeks was the best - and most gruelling - time of my life. Since completing the course. I have succesfully switched careers, working as a Software Engineer at a VR startup. "'
			colorback='bg-pmviolet'
			textcolorprimary='text-pwhite'
			textcolorsecundary='text-plgray'
			borderimage='border-pwhite'
			/>
		</div>

		<!-- Card 2 -->
		<div class="lg:row-start-1 lg:col-start-3 flex">
			<Card 
			photo={img2.src} 
			name='Jonathan Walters'
			verified='Verified Graduate'
			imagefont=''
			title="The team was very supportive and kept me motivated"
			text='"I started as a total newbie with virtually no coding skills. I now work an mobile engineer for a big company. This was one of the best investments I have made in myself"'
			colorback='bg-pvdgblue'
			textcolorprimary='text-pwhite'
			textcolorsecundary='text-plgray'
			borderimage='border-pwhite'
			/>
		</div>

		<!-- Card 3 -->
		 <div class="lg:row-start-2 lg:col-start-1 flex">
			<Card 
			photo={img3.src} 
			name='Jeanette Harmon'
			verified='Verified Graduate'
			imagefont=''
			title="An overwall wonderfull and rewarding experience"
			text='"Thank you for the wonderful experience! I now have a job really enjoy, and make a good living  while doing something love"'
			colorback='bg-pwhite'
			textcolorprimary='text-pvdbblue'
			textcolorsecundary='text-pvdgblue'
			borderimage='border-pwhite'
			/>
		 </div>

		 <!-- Card 4 -->
		 <div  class="lg:col-span-2 flex">
			<Card 
			photo={img4.src} 
			name='Patrick Abrams'
			verified='Verified Graduate'
			imagefont=''
			title="Awesome teaching support from TAs who did the bootcamp themselves. Getting guidance from them and learning from their experiences was easy."
			text='"The staff seem genuinely concerned about my progress which I find really refreshing. The program gave me the confidence necessary to be able to go out in the world and present myself as a capable junior developer. The standard is above the rest. You will get the personal attention you need from an incredible community of smart and amazing people."'
			colorback='bg-pvdbblue'
			textcolorprimary='text-pwhite'
			textcolorsecundary='text-plgray'
			borderimage='pmviolet'
			/>
		 </div>

		 <!-- Card 5 -->
		 <div class="lg:row-start-1 lg:col-start-4 lg:row-span-2">
			<Card 
			photo={img5.src} 
			name='Kira Whittle'
			verified='Verified Graduate'
			imagefont=''
			title="Such a life-changing experience. Highly recommended"
			text='"Before joining the bootcamp. I have never written a line of code. I needed some structure from professionals who can help me learn programming step by step. I was encouraged to enroll by a former student of theirs who can only say wonderful things about the program. The entire curriculum and staff did no disappoint. They were very hands-on and I never had to wait long for assistance. The agile team project, in particular, was outstanding, it took my learning to the next level in a way that no tutorial could ever have. In fact. I have often referred to it during interviews as an example of mu developent experience. It certainly helped me land a job a a full-stack developer after receiving multiple offers. 100% recommend!"'
			colorback='bg-pwhite'
			textcolorprimary='text-pvdbblue'
			textcolorsecundary='text-pvdgblue'
			borderimage='border-pwhite'
			/>
		 </div>

	</main>
</Layout>