---
import '@fontsource/barlow-semi-condensed';

interface Props {
	imagefont: string;
	name: string;
	verified: string;
	photo: string;
	title: string;
	text:string;
	colorback: string;
	textcolorprimary: string;
	textcolorsecundary: string;
	borderimage: string;
}

const {imagefont, name, verified, photo, title, text, colorback, textcolorprimary, textcolorsecundary, borderimage}= Astro.props;
---

<div class=" font-barlow  rounded-lg px-12 py-6 flex flex-col gap-4 relative shadow-lg" class:list={colorback}>
	
	<div class="flex gap-5 items-center">
		<img class:list={borderimage} class="rounded-full border size-10" src={photo} alt="">
		<div class="text-sm">
			<h1 class:list={textcolorprimary} class="font-bold">{name}</h1>
			<h2 class:list={textcolorsecundary} class="text-xs font-thin">{verified}</h2>
		</div>
	</div>
	<p class:list={textcolorprimary} class=" text-xl font-bold z-10">{title}</p>
	<p class:list={textcolorsecundary} class="pb-5">{text}</p>

	<img class="absolute top-0 right-8 " src={imagefont} alt="">
</div>
